# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd


### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
path1 = r"https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
path2 = r"https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

In [3]:
cars1 = pd.read_csv(path1)
cars2 = pd.read_csv(path2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [14]:
cars1 = cars1.dropna(how='all', axis='columns')

### Step 5. What is the number of observations in each dataset?

In [15]:
cars1.shape

(198, 9)

In [16]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [17]:
cars = cars1.append(cars2)

In [18]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [19]:
import numpy as np

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [32]:
cars['owners'] = np.random.randint(15000, high = 73000, size= 398, dtype = 'l')

In [33]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([61110, 51619, 70099, 72230, 26711, 55405, 21651, 51939, 48214,
       48164, 50047, 24625, 69245, 22619, 19972, 25208, 59290, 19235,
       48088, 20639, 51013, 71124, 41355, 37270, 60926, 48099, 32188,
       36242, 69306, 24343, 28805, 65575, 17613, 43595, 63545, 15503,
       35544, 16990, 60266, 68854, 50261, 59566, 19270, 51141, 18762,
       31387, 27072, 19448, 54210, 66079, 68993, 51149, 46492, 46646,
       72811, 27799, 49691, 28129, 41974, 18943, 68418, 44860, 62498,
       59030, 32162, 22770, 65507, 17574, 16062, 36581, 71231, 37274,
       19487, 47162, 61075, 42193, 21157, 30894, 20385, 45206, 15787,
       35446, 31650, 54364, 28482, 22437, 42096, 70212, 20216, 72468,
       21026, 67979, 60915, 62544, 33514, 24352, 37863, 60850, 16652,
       40115, 67852, 44121, 70969, 39348, 37435, 54556, 40965, 62017,
       19647, 35841, 33088, 47714, 36749, 18191, 42917, 28638, 25509,
       44105, 57997, 21899, 33614, 51679, 59157, 69091, 23904, 41689,
       38410, 28143, 71577, 31193, 51508, 36111, 28008, 20071, 69482,
       40254, 70043, 45296, 26847, 16453, 52596, 40880, 60243, 71490,
       46034, 37522, 37817, 43947, 71432, 15377, 25859, 57576, 58715,
       32420, 21628, 19557, 42536, 17297, 56906, 63006, 26531, 34140,
       43053, 48990, 69906, 57963, 45602, 67759, 17243, 65931, 71911,
       15591, 62450, 39712, 63560, 28492, 35835, 47326, 63788, 53974,
       41964, 60608, 19267, 44264, 21041, 33685, 34689, 18859, 34420,
       61165, 69135, 63187, 62250, 41303, 47482, 56122, 60415, 22739,
       33284, 66188, 51579, 31342, 47540, 40306, 69112, 59800, 53746,
       29201, 31815, 17681, 54536, 28412, 38905, 47681, 36952, 58808,
       52411, 54432, 62391, 26838, 42532, 29710, 58922, 68554, 46557,
       23222, 21370, 67664, 43992, 52238, 30200, 62732, 45932, 52034,
       51701, 63080, 37288, 41438, 16522, 37595, 20920, 56015, 18587,
       47694, 31536, 49334, 58986, 65596, 50284, 29286, 40451, 64407,
       50860, 23002, 40045, 32862, 47363, 33242, 42493, 24809, 63174,
       56101, 67871, 32213, 31864, 50417, 36778, 30109, 51920, 32332,
       70574, 57025, 44382, 37852, 71406, 17440, 23569, 21983, 70129,
       27184, 49725, 30659, 52305, 48650, 18792, 26320, 68830, 69552,
       49526, 31849, 48621, 25458, 58908, 32790, 26618, 44059, 70872,
       19916, 64089, 33933, 58561, 43579, 69394, 62950, 34788, 43885,
       43363, 59078, 68135, 69580, 47844, 52098, 26677, 29582, 58485,
       21216, 43395, 18462, 57763, 66269, 50176, 61973, 51737, 36348,
       20135, 56462, 32567, 55893, 44363, 57677, 22778, 68331, 43148,
       22674, 65013, 24071, 38919, 59795, 30470, 35274, 44011, 67283,
       41226, 29323, 19093, 23964, 25337, 47868, 41345, 32171, 15043,
       71305, 39303, 65089, 28880, 15947, 36839, 50303, 69672, 65528,
       71289, 71552, 37940, 55453, 16972, 38247, 41422, 46760, 68335,
       65666, 43362, 60919, 43852, 48862, 54894, 33581, 67013, 47561,
       56926, 46158, 39596, 56486, 64166, 53625, 53002, 51146, 49157,
       62068, 60678, 59146, 48077, 27463, 45606, 64378, 28214, 56827,
       22510, 46868])

In [34]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,37619
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,48156
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,20935
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,42060
4,17.0,8,302,140,3449,10.5,70,1,ford torino,47465

### Step 8. Add the column owners to cars